/.project
/.pydevproject
/.settings
/.idea
/.sonar
/doc/_build
.coverage
htmlcov

Thumbs.db
.DS_Store
*~

*.prefs
*.pyc
*.orig
*.db
*.sqlite
*.sqlite3

/venv/*
/env.txt
/src/env/local.py
/src/settings.py
local_settings.py
-media/
/static/js/auto/*
/static/bower_components/*
media/
build/doc

/ffmpeg2*
/os
/sys
