{% extends 'general_template.html' %}

{% block header_extension %}
{% load static %}
{% endblock %}

{% block main_content %}

    <div class="container">
    <div class="row col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <div class="well" style="color:#000000">
                خرید با موفقیت انجام شد.
                کد رهگیری:۱۲۳۲۴۲۳۵۲
                <a href="/ticket" style="text-align: center;" >
مشاهده‌ی                     بلیت
                </a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}