{% extends 'general_template.html' %}

{% block main_content %}
<div class="arriv">
<div class="container">
    <div class="main">
        <div class="col-md-6">
        <h3>
            مکان مورد نظرتان وجود ندارد؟
        </h3>
        <form method="post">
            {% csrf_token %}
            {{ venue_form.as_table }}
            <div>
            <button type="submit" class="btn btn-primary">
                مکان را اضافه کن
            </button>
            </div>
        </form>
        </div>
        <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            {{ event_form.as_table }}
            <div>
            <button type="submit" class="btn btn-primary">
                رویداد را اضافه کن
            </button>
            </div>
        </form>
        </div>
    </div>
</div>
</div>
{% endblock %}